<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssuredProject_Jobs_Api">
  <test thread-count="5" name="Jobs API Test">
  <classes>
  	
  	<class name="TestCases.Jobs_POST_Request"></class>
  	<class name="TestCases.Jobs_POST_already_existing_record_Request"></class>
  	<class name="TestCases.Jobs_PUT_Request"></class>
  	<class name="TestCases.Jobs_PUT_non_existing_record_Request"></class>
  	<class name="TestCases.Jobs_DELETE_Request"></class>
  	<class name="TestCases.Jobs_DELETE_already_deleted_record_Request"></class>
  	<class name="TestCases.Jobs_GET_Request"></class>
  	
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
